<!doctype html>
<head>
  <meta charset="utf-8">

  <title>$title$</title>
  <meta name="jtobin.ca" content="">
  <meta name="Jared Tobin" content="">

  <!-- Place favicon.ico in root -->
  <!-- <link rel="shortcut icon" href="/favicon.ico"> -->

  <link rel="stylesheet" href="/css/tight.css">

  <!-- Google analytics code -->
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22260080-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>

</head>

<body>
  <div id="container">

    <header id="shead">
      <a id="sitelink" href="/">jared tobin</a>
      <a class="nav pull-right" href="mailto:jared@jtobin.ca">contact</a>
      <!-- <a class="nav pull-right" href="/posts">posts</a> -->
    </header>

    <div id="main">
      $body$
    </div>

    <div>  <!-- style="background:#CCCCCC;"> -->
    <div id="colophon">
        <div id="pic">
            <img src="http://gravatar.com/avatar/be1d97fc244eaa2bfd3d7d64c1717f9f?s=210" alt="Hello up there." style="float:left; padding-right:20px; padding-top:0px;"/>
        </div>
        <div id="about" style="padding-top:0px;">
            <p style="padding:10px;"><strong>About me</strong></p>
            <p style="padding:10px;">I’m an expat Canadian and PhD candidate in statistics at <a href="http://www.auckland.ac.nz">The University of Auckland</a> in New Zealand. Prior to moving down under, I was a senior research analyst with the Government of Newfoundland &amp; Labrador in St. John’s, Canada.</p>
            <p style="padding:10px;">I’m interested in things like machine learning, functional programming, probability, and computer science; many of the elements of <a href="http://www.johndcook.com/veryappliedmath.html">very applied math</a>, which I enjoy attempting to <a href="http://en.wikipedia.org/wiki/Grok">grok</a>.</p>
        </div>
    </div>
    </div>
  </div>
</body>

</html>
